/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.vertical-tabs-container .setting-item {
    border-top: none;
}

.vertical-tabs-container .setting-section {
    padding: 0.75em 0;
    border-bottom: 1px solid var(--background-modifier-border);
}